.App {
  text-align: center;
  background-color: #344556;
  font-family: "Trebuchet MS";
}

.App-header {
  /* background-color: #344556; */
  background-color: #6b7e90;
  position: fixed;
  width: 100%;
  height: 56px;
  font-size: 18px;
  z-index: 1000;
}

.App-main {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 76px;
}

.mainspan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.toolbar_navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.toolbar_navigation li {
  display: flex;
}

.toolbar_navigation a {
  padding-left: 35px;
  padding-right: 35px;
  line-height: 56px;
  height: 56px;
  text-decoration: none;
  color: white;
}

.toolbar_navigation a.selected {
  background-color: #344556;
}

.toolbar_navigation a:hover {
  background-color: #344556;
}

.title {
  display: flex;
  width: 100%;
  justify-content: left;
  padding-bottom: 40px;
  font-size: 40px;
  color: #6b7e90;
}

.photoViewer {
  width: 86vw;
  height: 69vh;
}

.pic {
  max-width: 100%;
  max-height: 100%;
}

#arrowLeft {
  background-color: #344556;
  transform: scaleX(-1);
}

#arrowRight {
  background-color: #344556;
}

.galleryContainer {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.photoCategory {
  text-align: left;
  font-size: 16px;
}

.photoCategory img {
  max-height: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#photoModal {
  max-height: 80vh;
  max-width: 80vw;
}

#contact {
  display: flex;
  flex-direction: row;
}

#contactPictureContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactPicture {
  max-height: 80%;
  max-width: 90%;
}

.bio {
  background-color: #6b7e90;
  width: 50%;
  height: 100%;
  border-radius: 45px;
}

.bioText {
  margin: 20px;
  font-size: 17px;
  text-align: justify;
}

#bioPicture {
  height: 100px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.8;
  padding-top: 10px;
}
